// HEADER
.header {
  height: 173px;
  width: 100vw;

  .header-black {
    height: 64px;
    background: #0c0c0c;
    color: #ffffff;

    .header-black--content {
      height: 64px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .navbar {
        display: flex;
        list-style-type: none;

        a {
          padding: 18px 36px 19px 0px;
          font-weight: 400;
          font-size: 16px;
          line-height: 27px;
          color: #ffffff;
          text-decoration: none;
        }
      }

      .action-buttons {
        display: flex;
        align-items: center;
        margin-right: 30px;

        .phone-number {
          font-weight: 400;
          font-size: 16px;
          line-height: 27px;
        }

        .language--section {
          display: flex;
          margin-left: 52px;

          .language {
            font-weight: 300;
            font-size: 16px;
            line-height: 27px;
            color: #ffffff;
            opacity: 0.7;

            &:nth-child(2n) {
              margin-left: 13px;
            }

            &.active {
              font-weight: 400;
              opacity: 1;
              border-bottom: 1px solid #ffffff;
            }
          }
        }
      }

      .icon-section {
        display: flex;
        align-items: center;

        .icon {
          margin-left: 28px;
          width: 20px;
          height: 20px;
        }

        .cart--container {
          width: 80px;
          height: 64px;
          margin-left: 30px;
          background-color: #4e5258;
          position: relative;

          .cart {
            display: block;
            margin: 19px auto;
            height: 27px;
            width: 32px;
          }

          &::before {
            content: "15";
            position: absolute;
            left: -13px;
            top: 19px;
            width: 26px;
            height: 26px;
            background: #0c0c0c;
            border-radius: 50%;
            font-weight: 600;
            font-size: 14px;
            line-height: 24px;
            color: #ffffff;
          }
        }
      }
    }
  }

  .header-white {
    height: 109px;
    background: #ffffff;

    .header-white--content {
      height: 109px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .logo {
        width: 204px;
        height: 57px;

        background: url("../../global/assets/images/logo.png");
      }

      .navbar {
        display: flex;
        list-style-type: none;

        a {
          padding: 45px 24px;
          font-weight: 500;
          font-size: 18px;
          line-height: 31px;
          letter-spacing: 0.05em;
          text-transform: uppercase;
          text-decoration: none;
          color: #0c0c0c;
        }

        a:hover {
          font-weight: 600;
          background-color: rgba(178, 182, 193, 0.5);
        }
      }
    }
  }
}

// CATALOG
.catalog {
  margin-top: 52px !important;

  .catalog--header-section {
    display: flex;
    align-items: center;

    .separator {
      width: 478px;
      height: 1px;
      background: #0c0c0c;
      opacity: 0.2;
    }

    .catalog--header {
      margin-right: 30px;
      margin-left: 26px;
      font-weight: 300;
      font-size: 40px;
      line-height: 68px;
      text-align: center;
      color: #0c0c0c;
    }
  }

  .catalog--content-section {
    margin-top: 48px;

    .catalog--first-row {
      display: flex;

      .catalog--item {
        margin-right: 20px;
        width: 377px;
        height: 436px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: url("../../global/assets/images/decor.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        &:nth-child(2) {
          background: url("../../global/assets/images/textile.png");
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
        }

        &:nth-child(3) {
          background: url("../../global/assets/images/carpet.png");
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
        }

        &:nth-last-child(1) {
          margin-right: 0px;
        }

        p {
          padding: 15px 30px;
          font-weight: 500;
          font-size: 30px;
          line-height: 51px;
          color: #0c0c0c;
          background-color: rgba(255, 255, 255, 0.8);
        }
      }
    }

    .catalog--second-row {
      margin-top: 20px;
      display: flex;

      .catalog--item {
        margin-right: 20px;
        width: 580px;
        height: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: url("../../global/assets/images/furniture.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        &:nth-child(2) {
          background: url("../../global/assets/images/lighting.png");
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
        }

        &:nth-last-child(1) {
          margin-right: 0px;
        }

        p {
          padding: 15px 30px;
          font-weight: 500;
          font-size: 30px;
          line-height: 51px;
          color: #0c0c0c;
          background-color: rgba(255, 255, 255, 0.8);
        }
      }
    }
  }
}

// FOOTER
footer {
  width: 100vw;
  background: #0c0c0c;
  color: #ffffff;

  .footer--content {
    display: flex;
    justify-content: space-between;

    .column {
      margin: 44px 0px;

      .footer--header {
        font-weight: 700;
        font-size: 16px;
        line-height: 27px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: #ffffff;

        .separator {
          margin-top: 17px;
          margin-bottom: 27px;
          width: 102px;
          height: 1px;
          background: #ffffff;
          opacity: 0.5;
          border-radius: 2px;
        }
      }
    }

    .footer--first-column {
      .logo {
        width: 206px;
        height: 60px;

        background: url("../../global/assets/images/logo_white.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }

      .social-media-icons {
        margin-top: 26px;

        .icon:nth-child(2n) {
          margin-left: 9px;
        }
      }

      .copyright {
        margin-top: 39px;
        font-weight: 400;
        font-size: 16px;
        line-height: 21px;
        color: #ffffff;
      }
    }

    .footer--second-column {
      .footer--info-item {
        margin: 10px 0px;
        width: 204px;
        font-weight: 400;
        font-size: 16px;
        line-height: 27px;
        color: #ffffff;
      }
    }

    .footer--third-column {
      .contact {
        margin-bottom: 15px;
        font-weight: 400;
        font-size: 16px;
        line-height: 27px;

        .contact-item {
          margin-bottom: 10px;
        }
      }

      .email {
        margin-top: 30px;
      }
    }

    .footer--fourth-column {
      form {
        input {
          padding-left: 15px;
          width: 270px;
          height: 50px;
          background: rgba(255, 255, 255, 0.2);
          border: 1px solid #ffffff;
          font-weight: 400;
          font-size: 14px;
          line-height: 24px;
          color: #ffffff;
          outline: none;

          &::placeholder {
            color: #ffffff;
          }
        }

        p {
          margin-top: 17px;
          width: 247px;
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
        }

        button {
          margin-top: 22px;
          width: 269px;
          height: 50px;
          color: #ffffff;
          background: #0c0c0c;
          border: 1px solid #ffffff;
        }
      }
    }
  }
}
